body {
  color: white;
  background-image: url("../images/bg.jpg");
}

#index-banner {
  min-height: 100vh;
  padding-top: 7%;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
}
