body {
  background: url("../images/bg-result.jpg") repeat-y;
}

#nav-bar {
  padding-left: 80px;
}

.no-bottom-margin {
  margin-bottom: 0;
}

#word_cloud {
  width: 700px;
  height: 300px;
  margin: 0 auto;
}